*.class
report/*.acn
report/*.acr
report/*.alg
report/*.aux
report/*.bbl
report/*.blg
report/*.dvi
report/*.fdb_latexmk
report/*.glg
report/*.glo
report/*.gls
report/*.idx
report/*.ilg
report/*.ind
report/*.ist
report/*.lof
report/*.log
report/*.lot
report/*.maf
report/*.mtc
report/*.mtc0
report/*.nav
report/*.nlo
report/*.out
report/*.pdfsync
report/*.ps
report/*.snm
report/*.synctex.gz
report/*.toc
report/*.vrb
report/*.xdy
report/*.tdo